$bg_base: #fff;

$font_read: 'Manrope', sans-serif;

$cl_primary: hsl(193, 38%, 86%);
$cl_secondary: hsl(150, 100%, 66%);
$cl_gray: hsl(217, 19%, 24%);
$cl_gray_darken: hsl(218, 23%, 16%);
$cl_gray_light: hsl(217, 19%, 38%);
$cl_white: #fffdfa;
$cl_black: #000000;

// break point
$smallphone: 390px;
$mntablet: 768px; 
$mdtablet: 990px; 
$desktop: 1024px;
$desktopxl: 1300px;
$desktophd: 1900px;